{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Step {{ step_number }}{% endblock %}

{% block head %}
<link href="{% static 'css/flow.css' %}" rel="stylesheet">
{% endblock %}

{% block nav %}
<li><a href="/flow/step/1">Step 1</a></li>
<li><a href="/flow/step/2">Step 2</a></li>
<li><a href="/flow/step/3">Step 3</a></li>
<li><a href="/flow/step/4">Step 4</a></li>
<li><a href="/flow/step/5">Step 5</a></li>
<li role="separator" class="divider"></li>
{% endblock %}

{% block content %}Step {{ step_number }}{% endblock %}